<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.com.com.project.ProjectMapper">

    <select id="getMember" parameterType="String" resultType="com.com.com.project.MemberVO">
        SELECT * FROM ep_member WHERE id = #{id}
    </select>

   <insert id="insertBoard" parameterType="com.com.com.project.EPBoardVO">
        INSERT INTO ep_board (seq, name, title, content, reg_date, com_date, c_name, wait)
        <choose>
        	<when test="grade == '과장'">
        	VALUES (ep_board_seq.NEXTVAL, #{name}, #{title}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{name}, #{wait})
        	</when>
        	<when test="grade == '부장'">
        	VALUES (ep_board_seq.NEXTVAL, #{name}, #{title}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{name}, #{wait})
        	</when>
        	<otherwise>
        	VALUES (ep_board_seq.NEXTVAL, #{name}, #{title}, #{content}, CURRENT_TIMESTAMP, null, null, #{wait})
        	</otherwise>
        </choose>
    </insert>


    <select id="getAllWrittenContent" resultType="com.com.com.project.EPBoardVO">
        SELECT b.*, m.grade 
        FROM ep_board b
        JOIN ep_member m ON b.name = m.name
    </select>

    <select id="getWrittenContentByUser" parameterType="String" resultType="com.com.com.project.EPBoardVO">
        SELECT b.*, m.grade 
        FROM ep_board b
        JOIN ep_member m ON b.name = m.name
        WHERE b.name = #{name}
    </select>

    <select id="getBoard" resultType="com.com.com.project.EPBoardVO" parameterType="int">
        SELECT * FROM ep_board WHERE seq = #{seq}
    </select>

    <update id="updateBoard" parameterType="com.com.com.project.EPBoardVO">
        UPDATE ep_board SET wait = #{wait}, com_date = #{com_date, jdbcType=TIMESTAMP}, c_name = #{c_name} WHERE seq = #{seq}
    </update>
    
    
    

</mapper>
